html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #B2ADA4;
  background-image: url('../public/backery.webp');
  margin: 0; 
  height: 100vh; 
  position: relative; 
}

.cookieOutline {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('../public/cookie.png'); 
  background-size: cover;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
}

.cookieOutline:hover {
  cursor: pointer;
}

.shield{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);

}

.scoreboard {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 80%;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.demonstration{
  width: 33.3333333333333333333333%;
  height: 100%;
}

.border-left{
  border-left: 1px solid black;
}

.counter {
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
}

h2{
  text-align: center;
  height: 50%;
  margin: 0;
  position: relative;
  top: 25%;
}

.left-aligned{
  text-align: left;
  margin-left: 20px;
}

.shopContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid black;
  border-radius: 0 2% 2% 0; 
} 

.shop-row-container{
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid black;
  padding-left: 10px;
}

.shop-row-title{
  margin: 0px;
  margin-left: 2px;
}


.shop-item{
  display: inline-flex;
  box-sizing: border-box;
  background-color: rgb(128, 128, 128);
  border: 1px solid white;
  flex-direction: column;
  width: 70px;
  height: 70px;
  margin: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shop-item:hover{
  background-color: rgb(158, 158, 158);
}

.shop-item-disabled{
  background-color: red;
  cursor: not-allowed;
}

.shop-item-disabled:hover{
  background-color: red;
}

.shop-item-name{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.perk-display{
  width: 25px;
  height: 50px;
  background-image: url('../public/helper.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  margin-left: 5px;
}

.helper-display-row{
  display: inline-flex;
  flex-direction: row-reverse;
  height: 50px;
  width: 90px;
}

.perk-display-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 50px;
  width: 50px;
}

.perk-display-row p{
  padding-top: 2px;
  width: 48px;
  height: 23px;
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-weight: 900;
}

.shield-display-row{
  position: absolute;
  left: 50px;
}

.perk-name{
  font-size: 20px;
}


.perk-display-container{
  display: inline-flex;
  flex-direction: row-reverse;
  width: 240px;
  height: 50px;
  position: absolute;
  right: 66.666%;
  box-sizing: border-box;
  top: -30px;
}

.helper-level-display{
  position: absolute;
  right: 69%;
  top: 7px;
}

 @keyframes moveToCenter {
  from {
    transform: translate(0, 0); 
  }
  to {
    transform: translate(
      calc(50vw - var(--elmo-start-x) - 50%),
      calc(50vh - var(--elmo-start-y) - 50%)
    ); 
  }
} 

.elmo{
  cursor: pointer;
  height: 55px;
  width: 60px;
  background-image: url('../public/elmo.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  --elmo-start-x: 0px; 
  --elmo-start-y: 0px; 
  animation: moveToCenter 4s ease-in-out forwards;
}

.elmo-img{
  background-image: url('../public/elmo.png');
  width: 48px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.elmo-display-row{
  position: absolute;
  left: 0;
}

.timer-container{
  z-index: 10;
  background-color: white;
  width: 70px;
  height: 30px;
  position: absolute;
  right: 0;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 0 0 0 20%;
}

.timer-container p{
  font-size: 20px;
  margin-top: 3px;
  margin-left: 7px;
}

.home-screen-div{
  background-color: white;
  border: 1px solid black;
  height: 300px;
  width: 500px;
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-screen-text{
  font-size: 20px;
  text-align: center;
  height: 30px;
  margin-top: 50px;
}

.home-screen-timer{
  margin-top: 50px;
  font-size: 20px;
}

.home-screen-button{
  margin-top: 40px;
  height: 30px;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.home-screen-button:hover{
  background-color: rgb(231, 231, 231);
}
